<!DOCTYPE html>
<html lang ="en">
<head>
<title> html.lab </title>
</head>
<body>
    <h2> <center>STUDENT INFORMATION</center></h2>

<style >
table, th, td {
  border: 1px solid cadetblue;
  border-collapse: collapse;

}
</style>
<style>
tr:nth-child(even) {
  background-color:#ddd;
}

</style>
<style>
td:nth-child(1) {
  background-color:skyblue;
}
</style>
<style>
table{
margin:auto;
}
</style>

<table style="width:80%">

  <tr>
    <tr>
    <td colspan="3"><center><b>STUDENT'S MARKS LIST</b></center></td>
  </tr>
    <th>Student Name</th>
    <th>Scholar No</th>
    <th>Marks in percentage</th>

  </tr>

  <tr>
    <th>Riya</th>
    <th>212401</th>
    <th>95%</th>

  </tr>

  <tr>
    <th>Tiya</th>
    <th>212402</th>
    <th>90%</th>

  </tr>

  <tr>
    <th>Abhi</th>
    <th>212403</th>
    <th>80%</th>

  </tr>
  <tr>
    <th>Anku</th>
    <th>212404</th>
    <th>88%</th>

  </tr>
  <tr>
    <th>Shreya</th>
    <th>212405</th>
    <th>96%</th>

  </tr>

</table>
</body>
</html>
